@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto",sans-serif;
    border: none;
    color: #000;
}

.principal{
    background: #E5E5E5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.principal .container{
    background: #FCFCFC;
    box-shadow: 0px 20px 20px -10px rgba(0,0,0,.25);
    max-width: 75%;
    min-height: 347px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 35px 35px 35px 0;
}

.principal .container .imagem{
    width: 278px;
    height: 293px;
    position: absolute;
    left: -80px;
}

.principal .container .imagem img{
    width: 100%;
    height: 100%;
}

.principal .container .box-faq{
    width: 390px;
    margin-left: 228px;
}

.principal .container .box-faq .titulo{
    font-size: 25px;
    font-weight: 700,bold;
    font-style: normal;
    margin-bottom: 14px;
}

.principal .container .box-faq .linha{
    border-bottom: 1px solid #917575;
    margin: 15px 0;
}

.principal .container .box-faq .pergunta .accordeon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.principal .container .box-faq .pergunta .accordeon .sub-titulo{
    font-weight: 500,medium;
    font-size: 17px;
}

.principal .container .box-faq .pergunta .accordeon .seta{
    width: 23px;
    height: 13px;
    cursor: pointer;
    object-fit: cover;
}

.principal .container .box-faq .pergunta .resposta{
    font-size: 15px;
    font-weight: 300,lighter;
    font-style: normal;
    padding: 10px 0;
    display: none;
}

.principal .container .box-faq .pergunta .resposta.abrir{
    display: block;
}

 
@media(max-width:850px){
    .principal .container .imagem{
        width: 250px;
        height: 250px;
        position: absolute;
        left: 50%;
        top: 27%;
        transform: translate(-50%,-50%);
    }

    .principal .container .imagem img{
        width: 100%;
        height: 100%;
    }

    .principal .container .box-faq{
        width: 390px;
        margin: 270px 0 0 0;
    }
        
    .principal .container{
        max-width: 100%;
        padding: 30px;
    }

    .principal .container .box-faq .pergunta .accordeon .sub-titulo{
        font-size: 15px;
    }

    .principal .container .box-faq .pergunta .resposta{
        font-size: 12px;
        line-height: 1.5;
    }
}

@media(max-width:450px){
    .principal .container .imagem{
        width: 180px;
        height: 180px;
        position: absolute;
        left: 50%;
        top: 22%;
        transform: translate(-50%,-50%);
    }

    .principal .container{
        max-width: 100%;
        padding: 25px;
    }
}

